$primery-box:#656565;
$primery-box-h:#484848;
$primery-text:rgba(255, 255, 255, 0.45);
$white:white;
$secondary-box:rgba(0,8,248,.75);
$orang:#FFBB00;
$bg-telegram:#0088FF;
$bg-instagram:rgb(230,0,255);
$bg-instagram-gradient:(180deg, rgba(230,0,255,1) 0%, rgba(255,4,4,1) 100%);;;
$bg-facebook:#0008F8;
$font-size-box-lg:30px;
$font-size-me-lg:40px;
$font-size-me-bold-lg:75px;
$font-size-media-lg:25px;